<div class="container">
    <div class="row">
    <div class="column">
        <div class="jumbotron jumb">
            <h1 class="display-4">E-DOCUMENT</h1>
            <p class="lead">Nowoczesny sposób na składanie wniosków stypednialnych drogą elektorniczą. Wniosek wypełnisz i wyślesz w kilka minut od ręki. W przeciągu kilku sekund trafi bezpośrednio do dziekanatu.</p>
            <hr class="my-4">
            <p>Szybko, wygodnie, ekologicznie i bezkontaktowo. Wypróbuj już teraz!</p>
            <p class="lead">
                <%# link_to "Złóż wniosek", new_document_path, class:"btn btn-primary btn-lg"%> 
            </p>
        </div>
    </div>
    </div>
</div>