<div class="middle">
    NUMER UŻYTKOWNIKA (nr indeksu):
    <%= @user.usernum %>
    <br>
    ADRES EMAIL:
    <%= @user.email %>
    <br><br>
    LISTA WNIOSKÓW:
    <% @documents.each do |doc| %>
        <br>
        <%= link_to doc.content, document_path(doc) %>
    <% end %>
</div>