<div class= "middle">
  <h3>>WYŚLIJ WNIOSEK<</h3>
  <br>
  <h5>Wpisz treść wniosku:</h5>

    <%= form_with(model: @document, local: true) do |f| %>
      <div class="form-row">
        <%# f.label :content, class: "col-2 col-form-label text-light" %>
        <div class="col-md-12">
          <%= f.text_field :content, class:"form-control rounded middle", placeholder:"Treść wniosku" %>
        </div>
      </div>
      <br> 
      <%= f.submit "Wyślij wniosek", class:"btn btn-primary"%>
    <% end %>
</div>