<div class="middle">
    <div class="container">
        <div class="row">
        <div class="col">
            <div class="jumbotron jumb">
              <h1 class="display-4">Nowy wniosek</h1><br><br>
                <h5>Wpisz treść wniosku:</h5>
                <%= form_with(model: @document, local: true) do |f| %>
                  <div class="form-row">
                    <div class="col-md-12">
                      <%= f.text_area :content, rows:"3", class:"form-control rounded middle"%>
                    </div>
                  </div>
                  <br> 
                  <%= f.submit "Wyślij wniosek", class:"btn btn-info"%>
                <% end %>
            </div>
        </div>
        </div>
    </div>
</div>