<h3>WYŚLIJ WNIOSEK</h3>
<br>
<h5>Wpisz treść wniosku:</h5>

<!-- Form -->
<form>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01"></label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="Treść" value="" required>
    </div>
  </div>
</form>




<!-- Buttons -->
<button type="button" class="btn btn-primary">
  ZAPISZ WNIOSEK
</button>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  WYŚLIJ WNIOSEK
</button>
